.DS_Store
*.o
/src/.deps
/src/help.bin
/src/init.bin
/src/monitor.bin
/src/zak-supervisor.prg
/src/zak-supervisor-run.prg
/src/zak-supervisor.d64
/src/zak-supervisor.sym
/src/docs.bin
/src/zak-supervisor-docs.prg
Zak-Supervisor-*.zip
/build
